.page.theme_light {
  background-image: url(../images/cover-image-light.png);
  --main-color: #FFF1F7;
  --acent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --title-shadow-color: #FF0070;
  --theme-title-color: #353430;
  --theme-title-contrast-color: #353430;
  --menu-button-color: #353430; 
  --decoration-color: #353430;
  --p-color: #353430;
  .decoration {
    display: none;
  }
}