/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--main-color);
  font-family: "IBM Plex mono", sans-serif;
  font-size: var(--main-font);
  background-image: url(../images/cover-image-dark.png);
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  position: relative;
  padding: 10px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid currentColor;
}

.decorated-zone::before {
  content: "";
  display: block;
  height: 25px;
  width: 25px;
  position: absolute;
  inset-inline-end: 11px;
  inset-block-start: 11px;
  box-shadow: 1px -1px var(--decoration-color);
}

.decorated-zone::after {
  content: "";
  display: block;
  height: 25px;
  width: 25px;
  position: absolute;
  inset-inline-start: 11px;
  inset-block-end: 11px;
  box-shadow: -1px 1px var(--decoration-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 14px;
}

.decoration {
  position: absolute;
  display: block;
  inset-inline-end: 30px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--acent-color);
}

.decoration::after {
  content: "";
  display: inline-block;
  position: relative;
  inset-inline-start: 11px;
  width: 9px;
  height: 9px;
  box-shadow: 0 0 5px var(--acent-color);
  border-radius: 50%;
  background-color: var(--acent-color);
}

.header__theme-menu {
  margin-block-start: 64px;
}

.header__theme-menu-button {
  padding: 0 13px 0;
  background: none;
  border: 0;
  text-transform: lowercase;
  color: var(--menu-button-color);
}

.title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 96px;
  color: var(--title-color);
}

.header-title {
  margin-block-start: 19%;
  text-shadow: 4px 4px var(--title-shadow-color);
}

.header__description-container {
  margin-block-start: 15%;
  margin-block-end: 15.8%;
}

.header__description {
  padding-block-start: 2px;
  max-width: 355px;
  background-color: var(--acent-color);
  color: var(--theme-title-color);
  font-weight: 700;
  line-height: 129%;
}

.main {
  padding: 10px;
  margin-block-start: 30.4px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: var(--p-color);
}

.content {
  display: grid;
  gap: 20px;
}

.article-container {
  display: flex;
  flex-direction: column;
  gap: 20.1px;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.theme-title {
  font-size: inherit;
  line-height: 130%;
  color: var(--theme-title-contrast-color);
}

.theme-title_width {
  max-width: 260px;
}

.theme-title-decoration {
  background-color: var(--acent-color);
}

.theme-title-addition {
  font-size: inherit;
  background-color: var(--acent-color);
  color: var(--theme-title-color);
}

.article__title {
  line-height: 130%;
  background-color: var(--acent-color);
  color: var(--theme-title-color);
}

.article__title_regular {
  font-weight: 400;
}

.article__phar {
  line-height: 130%;
}

.article__link {
  text-decoration: none;
  text-shadow: 3px 3px var(--acent-color);
}

.content-image {
  gap: 11px;
}

.content-image__container {
  display: grid;
  gap: 5px;
}

.image-container {
  width: calc(100vw - 20px);
}

.image {
  width: 100%;
  object-fit: contain;
}

.footer {
  margin-block-start: 6.7%;
  position: relative;
  padding: 10px;
}

.footer-title {
  text-align: center;
  margin-block-start: 78%;
  text-shadow: 2px 2px var(--title-shadow-color);
  margin-block-end: 77.4%;
}

@media (min-width: 768px) {
  .header {
    padding: 20px;
    /* height: calc(80vw + 410px); */
  }

  .decorated-zone::before {
    inset-inline-end: 21px;
    inset-block-start: 21px;
  }

  .decorated-zone::after {
    inset-inline-start: 21px;
    inset-block-end: 21px;
  }

  .header__theme-menu {
    margin-block-start: 171px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header-title {
    margin-block-start: 24.5%;
    position: relative;
    inset-inline-start: -20px;
  }

  .header__description-container {
    margin-block-start: 22%;
    margin-block-end: 22.4%;
    display: flex;
    justify-content: end;
  }

  .header__description {
    max-width: 364px;
  }

  .decoration {
    inset-block-start: 20px;
    inset-inline-end: 40px;
  }

  .main {
    margin-block-start: 40.2px;
    padding: 20px;
    gap: 79.7px;
  }

  .theme-title_width {
    max-width: 230px;
  }

  .content_grid-gap {
    gap: 20px;
    grid-template-columns: 1fr 2fr;
  }

  .content-image {
    max-height: 107.4vw;
    gap: 19px;
  }

  .content-image__container {
    height: 78.1%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 15px;
  }

  .image-container {
    width: 100%;
  }

  .image-container-sunset {
    grid-column-start: 1;
    grid-column-end: span 2;
  }

  .image-container-icecream {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: span 2;
  }

  .image-container-tape {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: span 2;
  }

  .image-container-street {
    grid-column-start: 2;
    grid-column-end: span 2;
  }

  .image {
    object-fit: cover;
    height: 99%;
  }

  .footer {
    margin-block-start: 5%;
    padding: 20px;
  }

  .footer-title {
    margin-block-start: 61%;
    margin-block-end: 61%;
  }
}

@media (min-width: 1024px) {
  .theme-title_width {
    max-width: 260px;
  }

  .article-container_grid-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .header__theme-menu {
    margin: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
    gap: 11px;
  }

  .title {
    margin-block-start: 29.8%;
  }

  .header__description-container {
    margin-block-start: 0;
    margin-block-end: 11.7%;
  }

  .header__description {
    margin-block-start: 13.3%;
    max-width: 491px;
    padding: 0;
  }

  .content_grid-gap {
    gap: 10px;
  }

  .content-image {
    max-height: 106.5vw;
  }

  .footer {
    margin-block-start: 40px;
  }

  .footer-title {
    margin-block-start: 32.1%;
    margin-block-end: 32.1%;
  }
}
