.page {
  background-color: var(--main-color);
  background-image: url(../images/cover-image-dark.png);
  font-family: "IBM Plex mono", monospace;
  font-size: var(--main-font);
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@media (prefers-color-scheme: dark) {
  .page {
    background-image: url(../images/cover-image-dark.png);
    --main-color: #000028;
    --acent-color: #ff0070;
    --title-color: #db00ff;
    --title-shadow-color: #ff0070;
    --theme-title-color: #000028;
    --theme-title-contrast-color: #ff0070;
    --menu-button-color: #ff0070;
    --decoration-color: #ff0070;
    --p-color: #f1b2ce;
  }
}

@media (prefers-color-scheme: light) {
  .page {
    background-image: url(../images/cover-image-light.png);
    --main-color: #fff1f7;
    --acent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --title-shadow-color: #ff0070;
    --theme-title-color: #353430;
    --theme-title-contrast-color: #353430;
    --menu-button-color: #353430;
    --decoration-color: #353430;
    --p-color: #353430;
  }

  .page .decoration {
    display: none;
  }
}

.header {
  position: relative;
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr max-content 1fr;
  align-items: center;
  min-block-size: 668px;
  block-size: 100vh;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid currentColor;
}

.decorated-zone::before {
  content: "";
  display: block;
  block-size: 25px;
  width: 25px;
  position: absolute;
  inset-inline-end: 11px;
  inset-block-start: 11px;
  box-shadow: 1px -1px var(--decoration-color);
}

.decorated-zone::after {
  content: "";
  display: block;
  block-size: 25px;
  width: 25px;
  position: absolute;
  inset-inline-start: 11px;
  inset-block-end: 11px;
  box-shadow: -1px 1px var(--decoration-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 14px;
}

.decoration {
  position: absolute;
  display: block;
  inset-inline-end: 38px;
  inset-block-start: 11px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--acent-color);
}

.decoration::after {
  content: "";
  display: block;
  position: relative;
  inset-inline-start: 42px;
  inset-block-end: 16px;
  width: 9px;
  block-size: 9px;
  box-shadow: 0 0 4px 2px var(--acent-color);
  border-radius: 50%;
  background-color: var(--acent-color);
}

.header__theme-menu {
  margin-block-end: 5px;
}

.header__theme-menu-button {
  padding: 0 13px 0;
  background: none;
  border: 0;
  text-transform: lowercase;
  color: var(--menu-button-color);
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid currentColor;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

.title {
  font-size: var(--title-font);
  line-height: 96px;
  color: var(--title-color);
}

.header-title {
  /* margin-block-start: clamp(67px, 18vw, 90px); */
  text-shadow: 4px 4px var(--title-shadow-color);
}

.header__description {
  /* padding-block-start: 2px; */
  max-inline-size: 355px;
  background-color: var(--acent-color);
  color: var(--theme-title-color);
  font-weight: 700;
  line-height: 129%;
}

.main {
  padding: 10px;
  margin-block-start: 30px;
  display: flex;
  flex-direction: column;
  gap: 49.6px;
  color: var(--p-color);
}

.content {
  display: grid;
  gap: 20px;
}

.article-container {
  display: flex;
  flex-direction: column;
  gap: 20.1px;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.theme-title {
  font-size: inherit;
  line-height: 130%;
  color: var(--theme-title-contrast-color);
}

.theme-title_inline-size {
  max-inline-size: 260px;
}

.theme-title-decoration {
  background-color: var(--acent-color);
  color: var(--main-color);
}

.theme-title-addition {
  font-size: inherit;
  background-color: var(--acent-color);
  color: var(--theme-title-color);
}

.article__title {
  font-size: var(--main-font);
  line-height: 130%;
  background-color: var(--acent-color);
  color: var(--theme-title-color);
}

.article__title_regular {
  font-weight: 400;
}

.article__phar {
  line-height: 130%;
}

.article__link {
  text-decoration: none;
  text-shadow: 2px 2px var(--acent-color);
}

.article__link:hover {
  border-bottom: 2px solid currentColor;
}

.article__link:focus {
  outline: none;
}

.article__link:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.content-image {
  gap: 10px;
}

.content-image__container {
  display: grid;
  gap: 5px;
}

.image-container {
  inline-size: calc(100vw - 20px);
}

.image {
  inline-size: 100%;
  object-fit: cover;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  block-size: 100vh;
  min-block-size: 668px;
  margin-block-start: 7%;
  position: relative;
  padding: 10px;
}

.footer-title {
  text-shadow: 2px 2px var(--title-shadow-color);
}

@media (min-width: 768px) {
  .header {
    padding: 20px;
  }

  .decorated-zone::before {
    inset-inline-end: 21px;
    inset-block-start: 21px;
  }

  .decorated-zone::after {
    inset-inline-start: 21px;
    inset-block-end: 21px;
  }

  .header__theme-menu {
    /* margin-block-start: 171px; */
    margin-block-end: 7px;
  }

  .title {
    --title-font: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header-title {
    /* margin-block-start: 17.3vh; */
    position: relative;
    inset-inline-start: -20px;
  }

  .header__description-container {
    /* margin-block-start: 15.8vh; */
    display: flex;
    justify-content: end;
  }

  .header__description {
    max-inline-size: 364px;
  }

  .decoration {
    inset-block-start: 21px;
    inset-inline-end: 48px;
  }

  .main {
    margin-block-start: 40.2px;
    padding: 20px;
    gap: 79.7px;
  }

  .theme-title_inline-size {
    max-inline-size: 230px;
  }

  .content_grid-gap {
    gap: 20px;
    grid-template-columns: 1fr 2fr;
  }

  .content-image {
    max-block-size: 107.4vw;
    gap: 19px;
  }

  .content-image__container {
    block-size: 77.7%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 15px;
  }

  .image-container {
    inline-size: 100%;
  }

  .image-container:first-child {
    grid-column-start: 1;
    grid-column-end: span 2;
  }

  .image-container:nth-child(2) {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: span 2;
  }

  .image-container:nth-child(3) {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: span 2;
  }

  .image-container:last-child {
    grid-column-start: 2;
    grid-column-end: span 2;
  }

  .image {
    object-fit: cover;
    block-size: 100%;
  }

  .image-container {
    block-size: 99%;
  }

  .image-container:first-child {
    block-size: 97.5%;
  }

  .image-container:nth-child(4) {
    block-size: 98.5%;
  }

  .image-container:last-child {
    margin-block-start: 1px;
    block-size: 97.7%;
  }

  .footer {
    margin-block-start: 5%;
    padding: 20px;
  }
}

@media (min-width: 1024px) {
  .theme-title_inline-size {
    max-inline-size: 260px;
  }

  .article-container_grid-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .header__theme-menu {
    align-self: start;
    margin: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
    gap: 11px;
  }

  .header__description-container {
    margin-block-start: 0;
  }

  .header__description {
    margin-block-start: 16px;
    max-inline-size: 491px;
    padding: 0;
  }

  .content_grid-gap {
    gap: 10px;
  }

  .content-image {
    max-block-size: clamp(1090px, 106.5vw, 1535px);
  }

  .footer {
    margin-block-start: 40px;
  }
}

/* * {
  outline: 1px solid yellow;
} */