/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-color: #000028;
  --acent-color: #ff0070;
  --title-color: #db00ff;
  --title-shadow-color: #ff0070;
  --theme-title-color: #000028;
  --theme-title-contrast-color: #ff0070;
  --menu-button-color: #ff0070;
  --decoration-color: #ff0070;
  --p-color: #f1b2ce;
  --main-font: 18px;
}
